---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Contact | My Portfolio">
  <div class="w-full flex justify-center px-5 pt-5">
    <nav
      class="bg-[#272425] text-[#29cb17] w-full max-w-3xl flex flex-col items-center text-center gap-7 py-4 px-10 rounded-xl shadow-lg uppercase tracking-widest font-semibold"
    >
      <h1>Hvem er jeg?</h1>
      <h2>
        Lorem Ipsum is dummy text used as placeholder in graphic design,
        web development, and publishing to preview layouts without distracting,
        meaningful content. It is derived from Cicero’s 45 BC text
        "de Finibus Bonorum et Malorum," altered to be nonsensical Latin.
        It has been the industry standard since the 1500s.
      </h2>
    </nav>
  </div>
</Layout>