---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Contact | My Portfolio">

  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-8 pb-20">

    <!-- HERO -->
   <div class="proj-hero fade-in" style="min-height: 60vh;">
      <div class="proj-title" style="font-size: clamp(3rem, 15vw, 18rem); top: 50%;">CONTACT</div>

  <span class="proj-tag whitespace-nowrap" style="position: absolute; top: 20%; left: 50%; transform: translateX(-50%);">Get in Touch</span>

      <div class="proj-hero-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1
          class="text-3xl sm:text-5xl font-black"
          style="text-shadow: 3px 3px 0 #29cb17, -2px -2px 0 #0a4b09, 3px -2px 0 #406f40, -2px 3px 0 #75db77;"
        >
          Contact
        </h1>
      </div>
    </div>

    <div id="contact-content" class="max-w-xl mx-auto fade-in mt-[-9rem]">
      <div class="rounded-2xl overflow-hidden shadow-[0_20px_60px_rgba(0,0,0,0.9)] border border-[#272425]">
        <nav class="bg-black/80 text-[#29cb17] flex flex-col items-center gap-7 py-10 px-10 uppercase tracking-widest font-semibold">
          <div class="flex items-center gap-3">
            <span>Instagram:</span>
            <a href="https://www.instagram.com/nonved.dk" target="_blank" rel="noopener noreferrer" class="hover:text-purple-600 transition duration-300 hover:scale-110">@Nonved.dk</a>
          </div>
          <div class="flex items-center gap-3">
            <span>Mail:</span>
            <a href="mailto:Lærke@nonved.dk" class="hover:text-purple-600 transition duration-300 hover:scale-110">Lærke@nonved.dk</a>
          </div>
          <div class="flex items-center gap-3">
            <span>LinkedIn:</span>
            <a href="https://www.linkedin.com/in/l%C3%A6rke-buch-nonved-553332356/" target="_blank" rel="noopener noreferrer" class="hover:text-purple-600 transition duration-300 hover:scale-110">Lærke Buch Nonved</a>
          </div>
        </nav>
      </div>
    </div>

    <footer class="site-footer mt-10">
      <div class="footer-box">
        <p>© Lærke Buch Nonved portfolio</p>
      </div>
    </footer>

  </div>

</Layout>