---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Home | My Portfolio">
<div class="text-6xl text-[#29cb17] p-10 pt-10">
  <h1>Welcome to my portfolio my name is Lærke Buch Nonved</h1>
</div>
	
 

</Layout>