---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Home | My Portfolio">

  <div class="text-left pl-5 sm:pl-10 lg:pl-20 xl:pl-20 mb-16 lg:mb-24">
        <h1
          class="text-4xl sm:text-5xl lg:text-8xl xl:text-8xl font-black pt-5 mb-6"
          style="text-shadow: 3px 3px 0 #29cb17, -2px -2px 0 #0a4b09, 3px -2px 0 #406f40, -2px 3px 0 #75db77;"
        >
          Exploring ideas through design, motion and digital experiments.
        </h1>
	
 

</Layout>