---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<Layout title="Home | My Portfolio">
  <h1 class="text-6xl text-red-500 bg-black p-10">
  Min prjectside
</h1>
</Layout>